<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Race</title>
    <link rel="stylesheet" href="/src/output.css">
    <link rel="stylesheet" href="/src/style.css">
</head>
<body>
    <header>
        <h1 class="text-center bg-zinc-400">Race</h1>
        <p class="text-center">Racing Car Rent</p>
    </header>
    <nav class="navbar">
        <ul>
            <li><a href="#home" class="">Home</a></li>
            <li><a href="#cars" class="">Cars</a></li>
            <li><a href="#category" class="">Category</a></li>
            <li><a href="#login" class="">Log In</a></li>
            <li><a href="#contact" class="">Contact Us</a></li>
        </ul>
    </nav>
</body>
</html>